*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #dacdf1 50%, #bbb1e9 50%);
}

.clock{
    background: #3f4571;
    height: 320px;
    width: 320px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border-radius: 50%;
    border: 15px solid #816da6;
    box-shadow: 2px 5px 35px #231e2b;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hand{
    position: absolute;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;   
}

.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
}

.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: #b395e6;
}